
<link href="/../templates/nav/nav.css" rel="stylesheet" />

<nav class="navbar">
    <!-- LOGO -->
    <div class="logo">Gujrat Refinary</div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
      <!-- USING CHECKBOX HACK -->
      <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label>
      <!-- NAVIGATION MENUS -->
      <div class="menu">
        <li class="services">
          <a>Home_Page</a>
          <ul class="dropdown">
            <li id="horizontalTileshome">
              <a href="#horizontalTileshome">Horizontal Tiles </a>
              <div class="smenu">
                <a href="Specific-Energy-Consumption-Speedmeter(Home).html">Specific Energy Cost (Speedometer) </a>
                <a href="Main-Cart.html">Main Cart</a>
                <a href="Home-Fuel-And-Loss.html">% Fuel And Loss</a>
                <a href="Home-Total-Fuel-Consumed.html">Total Fuel Consumed</a>
              </div>
            </li>  
            <li><a href="Home-Page-Graph.html">Home Page Graph</a></li>
            <li id="areawiseSecDis">
              <a href="#areawiseSecDis">Area-wise SEC Distribution</a>
              <div class="smenu">
                <a href="color-code-details.html">Colour Code Details </a>
                <a href="Area-wise-Sec-unit-details.html">Unit Details</a>
                
              </div>
            </li>
          </ul>
        </li>
        <li class="services">
          <a>TPS</a>
          <ul class="dropdown">
            <li id="Tps-Home">
              <a href="#Tps-Home">Tps Home </a>
              <div class="smenu">
                <a href="TPS-Tiles.html">Tiles</a>
                <a href="TPS-Graph.html">Graph</a>
              </div>
            </li>
            <li><a href="Tps-Balance.html">Tps Balance </a></li>
            <li id="Equipment-Efficiency">
              <a href="#Equipment-Efficiency">Equipment Efficiency </a>
              <div class="smenu">
                <a href="TPS-Tiles.html">Tiles</a>
                <a href="TPS-Boiler-Graph.html">Boiler Graph</a>
                <a href="TPS-stGtHrsg-Graph.html">ST,GT & HRSG Graph</a>
              </div>
            </li>
           
          </ul>
        </li>
        <li class="services">
          <a>Unit Overview</a>
          <!-- DROPDOWN MENU -->
          <ul class="dropdown">
            <li id="horizontalTiles">
              <a href="#horizontalTiles">Horizontal Tiles </a>
              <div class="smenu">
                <a href="Specific-Energy-Consumption-Speedmeter.html">Specific Energy Consumption (Speed meter)</a>
                <a href="Spec-Energy-Consumption-Table.html">Specific Energy Consumption (Table)</a>
                <a href="Energy-Consumed-Break.html">Energy Consumed Break Up (Donuts)</a>
                <a href="Fuel-Consumed-Break.html">Fuel & Steam Consumed Break Up (Donuts)</a>
                <a href="Total-Electricity-Consumption-simple-card.html">Total Electricity Consumption (Simple Card)</a>
                <a href="GHG-Emission-Card.html">GHG Emission (Simple Card)</a>
                <a href="Feed-Rate-Plant-Load.html">Feed Rate & Plant Load</a>
              </div>
            </li>
             <li id="steamBalanceOver">
              <a href="#steamBalanceOver">Steam Balance Overview</a>
              <div class="smenu">
                <a href="Steam-Balance-Overview.html"> Steam Balance Overview (Table)</a>
              </div>
            </li>
            <li id="equipmentOverview">
              <a href="#equipmentOverview">Equipment-Overview</a>
              <div class="smenu">
                <a href="Overall-Equipment-Efficiencies-Graph.html">Overall Equipment Efficiencies(Graph)</a>
                <a href="Equipment-Overview-Efficiency-Trends.html">Efficiency Trends(Graph)</a>
                <!-- <a href="#">Equipment KPI Overview(Table)</a> -->
              </div>
            </li>
          </ul>
        </li>
        <li class="services">
          <a>Energy Consumption Overview</a>
          <!-- DROPDOWN MENU -->
          <ul class="dropdown">
            <li id="fuelPage">
              <a href="#fuelPage">Fuel </a>
              <div class="smenu">
                <a href="ECO-Specific-Fuel-Consumption-Graph.html">Specific Fuel Consumption (graph)</a>
                <a href="ECO-SEC-Fuel.html">SEC Fuel</a>
                <a href="ECO-Total-Fuel-Consumed.html">Total Fuel Consumed</a>
              </div>
            </li>
            <li id="electricityPage">
              <a href="#electricityPage">Electricity </a>
              <div class="smenu">
                <a href="ECO-Specific-Electricity-Consumption-Graph.html">Specific Electricity Consumption (graph)</a>
                <a href="ECO-SEC-Electricity.html">SEC Electricity (kWh/MT of Crude)</a>
                <a href="ECO-Total-Electricity.html">Total Electricity</a>
                <a href="ECO-Total-Electricity-Consumed.html">Total Electricity Consumed</a>
                <a href="ECO-Electricity-Generation-Cost.html">Electricity Generation Cost</a>
                <a href="ECO-Electricity-Generation-Capacity-Utilization.html">Electricity Generation Capacity Utilization</a>
                <a href="ECO-Electricity-Generation-Capacity-Utilization.html">last card</a>
              </div>
            </li>
            <li id="steamPage">
              <a href="#steamPage">Steam</a>
              <div class="smenu">
                <a href="ECO-Specific-Steam-Consumption-Graph.html">Specific Steam Consumption (graph)</a>
                <a href="ECO-Steam-Vent-Control-valve.html">Steam Vent Control valve OP</a>
                <a href="ECO-SEC-Steam.html">SEC Steam (kWh/MT of Crude)</a>
                <a href="ECO-Steam-Break-UP.html">Steam Break Up</a>
                <a href="ECO-Electricity-Generation-Capacity-Utilization.html">Electricity Generation Capacity Utilization</a>
                <a href="ECO-Steam-Generation-Cost.html">Steam Generation Cost</a>
                
              </div>
            </li>
            <li id="hydrogenPage">
              <a href="#hydrogenPage">Hydrogen</a>
              <div class="smenu">
                <a href="ECO-Total-Hydrogen-Generation-Graph.html">Total Hydrogen Generation (Graph)</a>
                <a href="ECO-Total-Hydrogen-Generation-card.html">Total Hydrogen Generation (card)</a>
                <a href="ECO-Hydrogen-Loss-to-Flare-Card.html">Hydrogen Loss To Flare (card)</a>
                <a href="ECO-Total-Hydrogen-Consumption-card.html">Total Hydrogen Consumption (card)</a>
                <a href="ECO-Imbalance-card.html">Imbalance</a>
                <a href="ECO-Hydrogen-Production-Cost-card.html">Steam Break Up</a>
                <a href="ECO-Generators-Table.html">Generators</a>
                <a href="ECO-Consumers-Table.html">Consumers</a>
                
              </div>
            </li>
            <li id="airPage">
              <a href="#airPage">Air</a>
              <div class="smenu">
                <a href="ECO-Plant-Air-Total-Generation-Graph.html">Plant Air Total Generation(Graph)</a>
                <a href="ECO-Plant-Air-Total-Generation-card.html">Plant Air Total Generation (card)</a>
                <a href="ECO-Instrument-Air-Total-Generation-Card.html">Instrument Air Total Generation (card)</a>
                <a href="ECO-Plant-Air-Total-Consumption-card.html">Plant Air Total Consumption (card)</a>
                <a href="ECO-Instrument-Air-Total-Consumption-Card.html">Instrument Air Total Consumption (card)</a>
                <a href="ECO-Plant-Air-Table.html">Plant Air</a>
                <a href="ECO-Instrument-air-Table.html">Instrument Air</a>
                
              </div>
            </li>
            <li id="waterPage">
              <a href="#waterPage">Water</a>
              <div class="smenu">
                <a href="ECO-Plant-Air-Total-Generation-Graph.html">Plant Air Total Generation(Graph)</a>
                
              </div>
            </li>
          </ul>
        </li>
      </div>
    </ul>
  </nav>